body {
	background: #333;
	font-family: Trebuchet MS, Verdana, Helvetica, Arial, san-serif;
	margin: 0;
	text-align: center;
}

p { 
	font-size: 12px; 
	line-height: 20px; 
}

a img {
	border: 0;
}

#wrapper {
	background: #750505 url("../images/bgWrapper.png") 8px no-repeat);
	border: solid #300;
	border-width: 0 15px 15px 15px;
	height: 700px;
	margin: 0 auto;
}